# Demonstrate some common data preprocessing steps: Version 2

## Importing the libraries

In [130]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset (typically CSV format)

To make things simple, we usually structure the dataset so that the **target variable (dependent variable)** column is the last column in the table, and all the preceding columns are **feature variable (independent variable)** columns

*  **X typically denotes the feature variables**, which in this case will be all the columns in the table except the last one
* **y typically denotes the single target variable**, which in this case is the last column in the table

In [131]:
df  = pd.read_csv('sample-data-proprocessing-v2.csv')
df.index = df.index + 1 # Start index from 1 instead of 0, just to make it easier to interpret data
X = df.iloc[  :  , :-1] # Accesses all columns except the last
y = df.iloc[  :  , -1]  # Accesses the last column

In [132]:
print("The feature variable columns in X are")
print (X)
print (type(X))

The feature variable columns in X are
    Country   Age   Salary  Staff      Cost   Days
1     Spain  21.0  11000.0    NaN     120.0    3.0
2       NaN   NaN      NaN    NaN       NaN    NaN
3     Spain  43.0  60000.0    NaN     510.0   15.0
4    France  40.0  80000.0    3.0     910.0    8.0
5   Germany  74.0  59000.0    NaN     520.0    5.0
6   Germany   NaN  92000.0    NaN     800.0  500.0
7    France  51.0  43000.0    NaN     420.0    6.0
8    France  74.0      NaN    6.0     720.0    8.0
9    France  73.0  25000.0    NaN     930.0   15.0
10      NaN   NaN  85000.0    NaN       NaN    NaN
11    Spain  44.0  94000.0    NaN     620.0   12.0
12  Germany  25.0  22000.0    NaN    -200.0    9.0
13  Germany  75.0  52000.0    NaN     740.0    4.0
14      NaN  34.0  15000.0    NaN     870.0   19.0
15  Germany   NaN  54000.0    NaN     370.0    6.0
16   France  48.0  31000.0   10.0     610.0    7.0
17   France  58.0  80000.0    NaN     280.0   11.0
18  Germany  32.0  56000.0    NaN  200000.0    8.0
19    Spain  34.0  51000.0    NaN     330.0  900.0
20   France  55.0  59000.0    NaN     630.0    5.0
21    Spain  50.0  54000.0    NaN     340.0   10.0
22  Germany  62.0      NaN   15.0     680.0    7.0
23   France  44.0  45000.0    NaN     900.0    5.0
24      NaN  39.0  18000.0    NaN     480.0   14.0
25    Spain  38.0  33000.0    NaN     600.0   20.0
26   France  51.0  95000.0    NaN     250.0   14.0
27    Spain  46.0  80000.0    NaN     250.0   13.0
28   France  74.0  82000.0   20.0     320.0   14.0
29  Germany  72.0  37000.0    NaN     450.0   11.0
30    Spain  80.0  98000.0    NaN    1000.0    6.0
<class 'pandas.core.frame.DataFrame'>

In [133]:
print ("The target variable column values are : ")
print(y)
print (type(y))

The target variable column values are :
1     Yes
2      No
3     Yes
4      No
5     Yes
6     Yes
7      No
8      No
9     Yes
10    NaN
11    Yes
12     No
13     No
14    Yes
15     No
16     No
17    Yes
18    Yes
19     No
20     No
21     No
22    Yes
23    Yes
24     No
25    Yes
26     No
27     No
28    Yes
29    Yes
30     No
Name: Purchased, dtype: object
<class 'pandas.core.series.Series'>

## Handling missing data

Another common issue are rows or columns in the dataset which have significantly more missing values than existing values

In this case, it does not make sense to impute the mean, mode or median, because there is not adequate info to calculate them meaningfully

So it would be better to just **completely remove those rows or columns** from the dataset

If we are removing complete rows, we must also remember to remove the target variable values for those rows from the y series

In [134]:
threshold = 0.7 # If more than 70% of the values in a row or column are missing, then only perform removal
rows_to_drop = X.isnull().mean(axis=1) > threshold
columns_to_drop = X.isnull().mean(axis=0) > threshold

# Identify the index numbers of rows to drop and the names of columns to drop
rows_to_drop_indices = X.index[rows_to_drop].tolist()
columns_to_drop_names = X.columns[columns_to_drop].tolist()
print ("The rows we are dropping are ", rows_to_drop_indices)
print ("The columns we are dropping are ", columns_to_drop_names)

# Perform the drop operation
X = X.loc[~rows_to_drop, ~columns_to_drop]

# Also need to remove the corresponding values for the dropped rows
# from the target variable column based on their columns
y = y.drop(index=rows_to_drop_indices)

print ("\nThe feature variables in X after the drop operation are")
print (X)

print ("\nThe target variable values in y after the drop operation are")
print (y)

The rows we are dropping are  [2, 10]
The columns we are dropping are  ['Staff']

The feature variables in X after the drop operation are
    Country   Age   Salary      Cost   Days
1     Spain  21.0  11000.0     120.0    3.0
3     Spain  43.0  60000.0     510.0   15.0
4    France  40.0  80000.0     910.0    8.0
5   Germany  74.0  59000.0     520.0    5.0
6   Germany   NaN  92000.0     800.0  500.0
7    France  51.0  43000.0     420.0    6.0
8    France  74.0      NaN     720.0    8.0
9    France  73.0  25000.0     930.0   15.0
11    Spain  44.0  94000.0     620.0   12.0
12  Germany  25.0  22000.0    -200.0    9.0
13  Germany  75.0  52000.0     740.0    4.0
14      NaN  34.0  15000.0     870.0   19.0
15  Germany   NaN  54000.0     370.0    6.0
16   France  48.0  31000.0     610.0    7.0
17   France  58.0  80000.0     280.0   11.0
18  Germany  32.0  56000.0  200000.0    8.0
19    Spain  34.0  51000.0     330.0  900.0
20   France  55.0  59000.0     630.0    5.0
21    Spain  50.0  54000.0     340.0   10.0
22  Germany  62.0      NaN     680.0    7.0
23   France  44.0  45000.0     900.0    5.0
24      NaN  39.0  18000.0     480.0   14.0
25    Spain  38.0  33000.0     600.0   20.0
26   France  51.0  95000.0     250.0   14.0
27    Spain  46.0  80000.0     250.0   13.0
28   France  74.0  82000.0     320.0   14.0
29  Germany  72.0  37000.0     450.0   11.0
30    Spain  80.0  98000.0    1000.0    6.0

The target variable values in y after the drop operation are
1     Yes
3     Yes
4      No
5     Yes
6     Yes
7      No
8      No
9     Yes
11    Yes
12     No
13     No
14    Yes
15     No
16     No
17    Yes
18    Yes
19     No
20     No
21     No
22    Yes
23    Yes
24     No
25    Yes
26     No
27     No
28    Yes
29    Yes
30     No
Name: Purchased, dtype: object

## Handling missing data in categorical variable columns

The Country column still has some missing data. 

There are many ways to handle this. The simplest is to impute these values with the most frequently occuring category (mode) in the column

In [135]:
mode_value = X['Country'].mode()[0]
X['Country'].fillna(mode_value, inplace=True)
print ("\nThe feature variables in X after imputation on the Country column are: ")
print (X)

The feature variables in X after imputation on the Country column are:
    Country   Age   Salary      Cost   Days
1     Spain  21.0  11000.0     120.0    3.0
3     Spain  43.0  60000.0     510.0   15.0
4    France  40.0  80000.0     910.0    8.0
5   Germany  74.0  59000.0     520.0    5.0
6   Germany   NaN  92000.0     800.0  500.0
7    France  51.0  43000.0     420.0    6.0
8    France  74.0      NaN     720.0    8.0
9    France  73.0  25000.0     930.0   15.0
11    Spain  44.0  94000.0     620.0   12.0
12  Germany  25.0  22000.0    -200.0    9.0
13  Germany  75.0  52000.0     740.0    4.0
14   France  34.0  15000.0     870.0   19.0
15  Germany   NaN  54000.0     370.0    6.0
16   France  48.0  31000.0     610.0    7.0
17   France  58.0  80000.0     280.0   11.0
18  Germany  32.0  56000.0  200000.0    8.0
19    Spain  34.0  51000.0     330.0  900.0
20   France  55.0  59000.0     630.0    5.0
21    Spain  50.0  54000.0     340.0   10.0
22  Germany  62.0      NaN     680.0    7.0
23   France  44.0  45000.0     900.0    5.0
24   France  39.0  18000.0     480.0   14.0
25    Spain  38.0  33000.0     600.0   20.0
26   France  51.0  95000.0     250.0   14.0
27    Spain  46.0  80000.0     250.0   13.0
28   France  74.0  82000.0     320.0   14.0
29  Germany  72.0  37000.0     450.0   11.0
30    Spain  80.0  98000.0    1000.0    6.0

## Checking for missing data and perform imputation if necessary

For the remaining numeric columns that were not dropped, we can impute the missing cells with either the **mean, median or mode of all the other values in that column** as we have already seen before in previous example

In [136]:
# Check for missing data in 'Age' and 'Salary' columns
missing_data_check = X[['Age', 'Salary', 'Cost', 'Days']].isnull().sum()
print("Number of missing values in the numeric columns : ")
print (missing_data_check)
print (type(missing_data_check))

Number of missing values in the numeric columns :
Age       2
Salary    2
Cost      0
Days      0
dtype: int64
<class 'pandas.core.series.Series'>

In [137]:
# If there are missing values present in any of the numeric columns
if missing_data_check.any():

    for column in ['Age', 'Salary', 'Cost', 'Days']:
       if missing_data_check[column] > 0:

           #Impute missing data with the mean of the existing values in the respective column
           
           X[column].fillna(X[column].mean(), inplace=True)

           # You can also impute with the median of the existing values in the respective column
           # 
           #X[column].fillna(X[column].median(), inplace=True)

           # You can also impute with the mode of the existing values in the respective column

           #mode_value = X[column].mode()[0]
           #X[column].fillna(mode_value, inplace=True)


           
           # Round the imputed values to the nearest integer
           # Not necessary, but helps in displaying the column values neatly
           X[column] = X[column].round()

# Display modified X dataframe after imputation
print("Feature variables X after imputation:\n", X)

Feature variables X after imputation:
     Country   Age   Salary      Cost   Days
1     Spain  21.0  11000.0     120.0    3.0
3     Spain  43.0  60000.0     510.0   15.0
4    France  40.0  80000.0     910.0    8.0
5   Germany  74.0  59000.0     520.0    5.0
6   Germany  51.0  92000.0     800.0  500.0
7    France  51.0  43000.0     420.0    6.0
8    France  74.0  54846.0     720.0    8.0
9    France  73.0  25000.0     930.0   15.0
11    Spain  44.0  94000.0     620.0   12.0
12  Germany  25.0  22000.0    -200.0    9.0
13  Germany  75.0  52000.0     740.0    4.0
14   France  34.0  15000.0     870.0   19.0
15  Germany  51.0  54000.0     370.0    6.0
16   France  48.0  31000.0     610.0    7.0
17   France  58.0  80000.0     280.0   11.0
18  Germany  32.0  56000.0  200000.0    8.0
19    Spain  34.0  51000.0     330.0  900.0
20   France  55.0  59000.0     630.0    5.0
21    Spain  50.0  54000.0     340.0   10.0
22  Germany  62.0  54846.0     680.0    7.0
23   France  44.0  45000.0     900.0    5.0
24   France  39.0  18000.0     480.0   14.0
25    Spain  38.0  33000.0     600.0   20.0
26   France  51.0  95000.0     250.0   14.0
27    Spain  46.0  80000.0     250.0   13.0
28   France  74.0  82000.0     320.0   14.0
29  Germany  72.0  37000.0     450.0   11.0
30    Spain  80.0  98000.0    1000.0    6.0

## Function to detect outliers and impute them with mean of non-outliers


There are many **custom algorithms** available for detecting outliers based on statistical techniques, each of them has their specific weakness and advantages

The range of values that are considered normal so that anything outside this range is **highly subjective**

Some algorithms will miss picking up extremely low value or high value outliers, while others may mistake slightly high or low values within normal rage as outliers

This algorithm is different from the first one in the previous example and uses the MAD together with the median to figure out the range of normal numbers

It is able to pick up outliers with very small values, but may also potentially incorrectly flag normal values as outliers

In [138]:

def impute_outliers(df, column, z_threshold=3.5, lower_percentile=1, upper_percentile=99):
    # Calculate percentiles
    lower_bound = np.percentile(df[column], lower_percentile)
    upper_bound = np.percentile(df[column], upper_percentile)
    
    # Calculate the median and MAD (Median Absolute Deviation)
    median = df[column].median()
    mad = np.median(np.abs(df[column] - median))
    
    # Calculate the modified Z-score
    if mad == 0:
        # If MAD is zero, then all data points are identical
        modified_z_scores = np.zeros(len(df))
    else:
        modified_z_scores = 0.6745 * (df[column] - median) / mad
    
    # Detect outliers based on percentiles and modified Z-score
    percentile_outliers = (df[column] < lower_bound) | (df[column] > upper_bound)
    z_score_outliers = np.abs(modified_z_scores) > z_threshold
    combined_outliers = percentile_outliers | z_score_outliers
    outlier_count = combined_outliers.sum()
    
    if outlier_count > 0:

        print (f"Number of outliers detecting for column '{column}' is {outlier_count}")
        
        # Calculate mean of non-outlier values
        non_outlier_mean = int(df[~combined_outliers][column].mean())
        
        # Replace outliers with the mean of non-outlier values
        df.loc[combined_outliers, column] = non_outlier_mean
        print(f"Outliers detected and imputed in column '{column}' with mean value {non_outlier_mean}")
    else:
        print(f"No outliers detected in column '{column}'")

In [139]:
# Check and impute outliers for columns 'Cost' and 'Days'
impute_outliers(X, 'Cost')
impute_outliers(X, 'Days')

Number of outliers detecting for column 'Cost' is 2
Outliers detected and imputed in column 'Cost' with mean value 563
Number of outliers detecting for column 'Days' is 3
Outliers detected and imputed in column 'Days' with mean value 10

In [140]:
print ("Feature variables after detection and imputation of outliers")
print (X)

Feature variables after detection and imputation of outliers
    Country   Age   Salary    Cost  Days
1     Spain  21.0  11000.0   120.0  10.0
3     Spain  43.0  60000.0   510.0  15.0
4    France  40.0  80000.0   910.0   8.0
5   Germany  74.0  59000.0   520.0   5.0
6   Germany  51.0  92000.0   800.0  10.0
7    France  51.0  43000.0   420.0   6.0
8    France  74.0  54846.0   720.0   8.0
9    France  73.0  25000.0   930.0  15.0
11    Spain  44.0  94000.0   620.0  12.0
12  Germany  25.0  22000.0   563.0   9.0
13  Germany  75.0  52000.0   740.0   4.0
14   France  34.0  15000.0   870.0  19.0
15  Germany  51.0  54000.0   370.0   6.0
16   France  48.0  31000.0   610.0   7.0
17   France  58.0  80000.0   280.0  11.0
18  Germany  32.0  56000.0   563.0   8.0
19    Spain  34.0  51000.0   330.0  10.0
20   France  55.0  59000.0   630.0   5.0
21    Spain  50.0  54000.0   340.0  10.0
22  Germany  62.0  54846.0   680.0   7.0
23   France  44.0  45000.0   900.0   5.0
24   France  39.0  18000.0   480.0  14.0
25    Spain  38.0  33000.0   600.0  20.0
26   France  51.0  95000.0   250.0  14.0
27    Spain  46.0  80000.0   250.0  13.0
28   France  74.0  82000.0   320.0  14.0
29  Germany  72.0  37000.0   450.0  11.0
30    Spain  80.0  98000.0  1000.0   6.0

## Perform dummy encoding on categorical variables in dataset

This is nearly identical to one hot encoding, except we drop one extra variable column

In [141]:
# Perform dummy encoding on the 'Country' column in X
X = pd.get_dummies(X, columns=['Country'], drop_first=True).astype(int)

print ("Feature variables after dummy encoding on the Country column")
print(X)

Feature variables after dummy encoding on the Country column
    Age  Salary  Cost  Days  Country_Germany  Country_Spain
1    21   11000   120    10                0              1
3    43   60000   510    15                0              1
4    40   80000   910     8                0              0
5    74   59000   520     5                1              0
6    51   92000   800    10                1              0
7    51   43000   420     6                0              0
8    74   54846   720     8                0              0
9    73   25000   930    15                0              0
11   44   94000   620    12                0              1
12   25   22000   563     9                1              0
13   75   52000   740     4                1              0
14   34   15000   870    19                0              0
15   51   54000   370     6                1              0
16   48   31000   610     7                0              0
17   58   80000   280    11                0              0
18   32   56000   563     8                1              0
19   34   51000   330    10                0              1
20   55   59000   630     5                0              0
21   50   54000   340    10                0              1
22   62   54846   680     7                1              0
23   44   45000   900     5                0              0
24   39   18000   480    14                0              0
25   38   33000   600    20                0              1
26   51   95000   250    14                0              0
27   46   80000   250    13                0              1
28   74   82000   320    14                0              0
29   72   37000   450    11                1              0
30   80   98000  1000     6                0              1

## Perform label encoding on the target variable

The target variable must also be encoded in numeric format for many ML models

In [142]:
print ("Target variable column original values")
print (y)

Target variable column original values
1     Yes
3     Yes
4      No
5     Yes
6     Yes
7      No
8      No
9     Yes
11    Yes
12     No
13     No
14    Yes
15     No
16     No
17    Yes
18    Yes
19     No
20     No
21     No
22    Yes
23    Yes
24     No
25    Yes
26     No
27     No
28    Yes
29    Yes
30     No
Name: Purchased, dtype: object

In [143]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
print ("After encoding the Yes and No as 1 and 0")
print (y)

After encoding the Yes and No as 1 and 0
[1 1 0 1 1 0 0 1 1 0 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 0]

## Splitting original dataset into the Training set and Test set

This is a fundamental practice in ML and is important for:
* Evaluating model performance correctly
* Avoiding overfitting
* Preventing data leakage

In [144]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3333, random_state = 1)

# We use a fixed value for the random state parameter so that the split will always use the same rows for the training and test data set 
# This is ensure reproducibility of this ML project, which is important to verify performance evaluations

In [145]:
print (f"There are {len(X_train)} rows in the training dataset\n")
print ("The feature variable values are")
print (X_train)

print ("\nThe target variable values are")
print (y_train)

There are 18 rows in the training dataset

The feature variable values are
    Age  Salary  Cost  Days  Country_Germany  Country_Spain
4    40   80000   910     8                0              0
26   51   95000   250    14                0              0
8    74   54846   720     8                0              0
21   50   54000   340    10                0              1
16   48   31000   610     7                0              0
9    73   25000   930    15                0              0
28   74   82000   320    14                0              0
3    43   60000   510    15                0              1
19   34   51000   330    10                0              1
1    21   11000   120    10                0              1
18   32   56000   563     8                1              0
30   80   98000  1000     6                0              1
29   72   37000   450    11                1              0
12   25   22000   563     9                1              0
11   44   94000   620    12                0              1
15   51   54000   370     6                1              0
14   34   15000   870    19                0              0
7    51   43000   420     6                0              0

The target variable values are
[0 0 0 0 0 1 1 1 0 1 1 0 1 0 1 0 1 0]

In [146]:
print (f"There are {len(X_test)} rows in the test dataset\n")
print ("The feature variable values are")
print (X_test)

print ("\nThe target variable values are")
print (y_test)

There are 10 rows in the test dataset

The feature variable values are
    Age  Salary  Cost  Days  Country_Germany  Country_Spain
27   46   80000   250    13                0              1
20   55   59000   630     5                0              0
22   62   54846   680     7                1              0
23   44   45000   900     5                0              0
17   58   80000   280    11                0              0
5    74   59000   520     5                1              0
25   38   33000   600    20                0              1
13   75   52000   740     4                1              0
24   39   18000   480    14                0              0
6    51   92000   800    10                1              0

The target variable values are
[0 0 1 1 1 1 1 0 0 1]

## Feature Scaling

This should be done (rather than before) after train test split to avoid data leakage that may contribute to poor model 
performance in production

There are two commonly used types of feature scaling: **standardization** and **normalization**

Here we are using **normalization**, which scales the data such that the distribution of values in the feature column is between 0 and 1 or -1 and 1

For default normalization in sklearn, most values will lie within the **range of approximately 0 and 1** 

Also note that we perform feature scaling only on the columns that were originally numeric, and do not include columns with numbers that result from categorical encoding such as dummy encoding that we did earlier

In [147]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()

# Fit and transform the training data
X_train.iloc[:, 0:4] = sc.fit_transform(X_train.iloc[:, 0:4])

# Transform the test data
X_test.iloc[:, 0:4] = sc.transform(X_test.iloc[:, 0:4])

In [148]:
print ("Feature variables in training dataset after standardization")
print (X_train)

Feature variables in training dataset after standardization
         Age    Salary      Cost      Days  Country_Germany  Country_Spain
4   0.322034  0.793103  0.897727  0.153846                0              0
26  0.508475  0.965517  0.147727  0.615385                0              0
8   0.898305  0.503977  0.681818  0.153846                0              0
21  0.491525  0.494253  0.250000  0.307692                0              1
16  0.457627  0.229885  0.556818  0.076923                0              0
9   0.881356  0.160920  0.920455  0.692308                0              0
28  0.898305  0.816092  0.227273  0.615385                0              0
3   0.372881  0.563218  0.443182  0.692308                0              1
19  0.220339  0.459770  0.238636  0.307692                0              1
1   0.000000  0.000000  0.000000  0.307692                0              1
18  0.186441  0.517241  0.503409  0.153846                1              0
30  1.000000  1.000000  1.000000  0.000000                0              1
29  0.864407  0.298851  0.375000  0.384615                1              0
12  0.067797  0.126437  0.503409  0.230769                1              0
11  0.389831  0.954023  0.568182  0.461538                0              1
15  0.508475  0.494253  0.284091  0.000000                1              0
14  0.220339  0.045977  0.852273  1.000000                0              0
7   0.508475  0.367816  0.340909  0.000000                0              0

In [149]:
print ("Feature variables in test dataset after standardization")
print (X_test)

Feature variables in test dataset after standardization
         Age    Salary      Cost      Days  Country_Germany  Country_Spain
27  0.423729  0.793103  0.147727  0.538462                0              1
20  0.576271  0.551724  0.579545 -0.076923                0              0
22  0.694915  0.503977  0.636364  0.076923                1              0
23  0.389831  0.390805  0.886364 -0.076923                0              0
17  0.627119  0.793103  0.181818  0.384615                0              0
5   0.898305  0.551724  0.454545 -0.076923                1              0
25  0.288136  0.252874  0.545455  1.076923                0              1
13  0.915254  0.471264  0.704545 -0.153846                1              0
24  0.305085  0.080460  0.409091  0.615385                0              0
6   0.508475  0.931034  0.772727  0.307692                1              0